/* Remove all paddings using universial selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #3C3C3C;
  /* Padding */
  padding: 100px 30vh 0px 30vh;

  background-color: #E8EDF3;
  letter-spacing: 0.05em;

  /* Font */
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

header {
    font-style: normal;
    font-weight: 700;
}

p {
  text-align: justify;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  border-radius: 33px;
}

/* HEADER PICTURE */
.header-container {
  position: relative;
}

.align-vertically {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-horizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic-container img {
  display: block;
}

.main-title {
  position: absolute;
  color: white;
  font-size: 100px;
  width: 100%;
  text-align: center;

  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.source-code {
  position: absolute;
  color: white;
  z-index: 100;
  left: 10px;
  bottom: 10px;

  /* Roboto Regular */
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wireframes {
  position: absolute;
  color: white;
  z-index: 100;
  right: 10px;
  bottom: 15px;

  /* Roboto Regular */
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* MINI SUMMARY */
.mini-summary {
  font-size: 11px;
  padding: 40px 100px;
  display: block;
  background-color: #F7F8FA;
}

.main {
  width: 50%;
  float: left;
  padding-right: 50px;
}

.side {
  padding-bottom: 20px;
}

/* Team pictures */
.team {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;

  /* Ivy journal SemiBold*/
  font-family: ivyjournal, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
}

.profile-pic {
  width: 70px;
  height: 70px;
}

.avi {
  padding: 20px 35px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #1770FF;
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
}
