/* Remove all paddings using universial selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #3C3C3C;
  /* Padding */
  padding: 100px 30vh 0px 30vh;

  background-color: #E8EDF3;
  letter-spacing: 0.05em;
}

header {
    font-style: normal;
    font-weight: 700;
}

p {
  text-align: justify;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  border-radius: 33px;
}

/* HEADER PICTURE */
.header-container {
  position: relative;
}

.pic-container img {
  display: block;
}

.main-title {
  position: absolute;
  color: white;
  font-size: 100px;
  width: 100%;
  text-align: center;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* MINI SUMMARY */
.mini-summary {
  font-size: 11px;
  padding: 50px 180px 50px 180px;
  display: block;
  background-color: #F7F8FA;
}

.main {
  width: 50%;
  float: left;
  padding-right: 50px;
}

.side {
  padding-bottom: 20px;
}
