/* Remove all paddings using universial selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #3C3C3C;
  /* Padding */
  padding: 60px 30vh 0px 30vh;

  background-color: #E8EDF3;
  letter-spacing: 0.05em;

  /* Font */
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  border-radius: 33px;

  line-height: 1.9em;
  padding-bottom: 40px;
}

.mini-summary, .intro, .research, .user-segmentation, .wire-frames, .tool-kit, .roles, .structuring-app, .final-design {
   margin: 0px 90px;
   margin-top: 30px;
}

.mini-summary {
  margin-top: 0px;
}

ul {
  padding-left: 40px;
}

h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #4a494a;
}

h2 {
  font-style: normal;
  font-size: 13px;
  color: #4a494a;
}

p {
  text-align: justify;
}

.semi-bold {
  font-weight:600;
}
/* ----------------------------- HEADER PICTURE ----------------------------- */
.header-container {
  position: relative;
}

.align-vertically {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-horizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic-container img {
  display: block;
  width: 100%;
}

.main-title {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;

  /* Font */
  font-size: 100px;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.source-code {
  position: absolute;
  color: white;
  z-index: 100;
  left: 10px;
  bottom: 10px;

  /* Roboto Regular */
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.source-code img {
  width: 30px;
  height: 30px;
}

.source-code-text {
  padding-left: 10px;
}

.source-code-text a:link, .source-code-text a:active, .source-code-text a:visited, .source-code-text a:hover {
  color: white;
  text-decoration: none;
}

.wireframes {
  position: absolute;
  color: white;
  z-index: 100;
  right: 10px;
  bottom: 15px;

  /* Roboto Regular */
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.intro span {
  font-weight: bold;
  font-size: 15px;
}

/* ----------------------------- MINI SUMMARY ------------------------------- */
.mini-summary-section {
  padding: 30px 0px;
  background-color: #F7F8FA;
}

.mini-summary {
  display: flex;
  font-size: 11px;
  line-height: 1.6em;
}

.mini-summary h1 {
  margin: 0px;
  margin-bottom: 5px;

  /* Fonts */
  font-size: 11px;
  font-weight: 700;
}

.challenge {
  margin-right: 50px;
  width: 90%;
}

/* ----------------------------- TEAM PICTURES ------------------------------ */
.team {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;

  /* Ivy journal SemiBold*/
  font-family: ivyjournal, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
}

.team img {
  width: 70px;
  height: 70px;
}

.avi {
  padding: 20px 35px;
}

a:link, a:active {
  color: black;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #1770FF;
}

/* ----------------------------- BOARD IMAGES ------------------------------- */
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 10px;
  /* background-color: red; */
}

.row {
  width: 40%;
  /* background-color: blue; */
}

.row img {
  vertical-align: middle; /* idk but this makes the div fit the image nicely*/
  max-width: 100%;
  padding: 5px;
}

/* TOOL KIT */
.tool-kit div {
  display:flex;
  justify-content:center;
}

.tool-kit img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------- STRUCTURING ------------------------------------ */
.structuring-app img, .wire-frames img {
  max-width: 100%;
  height: auto;
}

.structuring-app-images {
  display:flex;
}

.flow-item-1, .flow-item-2, .flow-item-3 {
  margin-bottom: 10px;
}

.flow-item-1 {
  background-color: #fbfcfa;
}

.flow-item-2 {
  background-color: #fbfcfa;
  margin-right: 10px;
  margin-left: 10px;
}

.flow-item-3 {
  background-color: #eeeeed;
}

/* ------------------------------- FOOTER ----------------------------------- */
footer {
  /* background-color: red; */
  width: 100%;
  margin: 50px 0;
  color:black;
  padding: 0px 50px;

  display: flex;
  flex-direction: column;
}

.footer-message {
  /* background-color: orange; */
  text-align: center;
  float: left;

  /* Font */
  font-family: roboto, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: 0.1em;
}

.footer-menu {
  /* background-color: yellow; */
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  /* Fieldwork Geo Light */
  font-family: fieldwork, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.footer-menu div {
  /* background-color: magenta; */
  display: flex;
}

.footer-copyright {
  width: 48%;
}

.footer-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37.5%;
}

.footer-second div {
  /* background-color: brown; */
}

footer a:visited, footer a:active, footer a:link {
  color: black;
}

footer a:hover {
  color: #1770FF;
}
