/* ----------------------------- MAIN ------------------------------- */
.main-gif {
  display: flex;
  justify-content: center;
}

.main-gif > div {
  width: 30%;
}

/* ----------------------------- ARCHITECTURE -------------------------------- */
.architecture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.architecture > div {
  width: 80%;
}

/* ----------------------------- SCREENSHOTS -------------------------------- */
.screenshots {
  display: flex;
  justify-content: space-between;
}

.screenshots div {
  width: 33%;
}

.screenshots-2 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.screenshots-2 div {
  width: 33%;
}

/* ------------------------------ RESPONSIVE -------------------------------- */
@media screen and (max-width: 600px) {
  .screenshots-2 div {
    width: 100%;
  }

  .architecture div {
    width: 100%;
  }

  ul {
    padding-left: 20px;
  }

  .main-gif > div {
    width: 80%;
  }
}
