/* ----------------------------- MINI SUMMARY ------------------------------- */
.mini-summary {
  display: flex;
  font-size: 11px;
  line-height: 1.6em;
  margin-top: 0px;
}

.mini-summary h1 {
  margin: 0px;
  margin-bottom: 5px;

  /* Fonts */
  font-size: 11px;
  font-weight: 700;
}

.challenge {
  margin-right: 50px;
  width: 60%;
}

/* ----------------------------- ARCHITECTURE -------------------------------- */
.architecture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.architecture > div {
  width: 80%;
}

/* ----------------------------- SCREENSHOTS -------------------------------- */
.screenshots {
  display: flex;
  justify-content: space-between;
}

.screenshots div {
  width: 33%;
}

.screenshots-2 {
  display: flex;
  justify-content: center;
}

.screenshots-2 div {
  width: 33%;
}

/* ------------------------------ RESPONSIVE -------------------------------- */
@media screen and (max-width: 850px) {

  .intro {
    margin-top: 0px;
  }

  .flow-item-3 {
    margin-left: 10px;
  }
}
