@media screen and (max-width: 1000px) {
  body {
    padding: 60px 10vh 0px 10vh;
    width: auto;
  }

  .footer-second {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  body {
    padding: 0px 0vh 0px 0vh;
    width: auto;
  }

  .mini-summary {
    margin: 0px 50px;
  }

  .margin-box {
     margin: 0px 50px;
     margin-top: 30px;
  }

  .hide-small {
    display: none;
  }

  .board {
  }

  .board div {
    width: 100%;
  }

  .flow-item-3 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .mini-summary {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 1.6em;
  }

  .challenge {
    margin: 0;
    margin-bottom: 30px;
  }

  .tool-kit div {
    width: 80%;
  }

  /* FOOTER */
  .footer-menu {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .footer-second {
    width: 60%;
  }

  .footer-message {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .hide-xsmall {
    display: none;
  }

  .margin-box  {
     margin: 0px 30px;
     margin-top: 30px;
  }

  .mini-summary {
    margin: 0px 30px;
  }

  .main-title {
    font-size: 60px;
  }

  .challenge {
    margin: 0;
    margin-bottom: 30px;
  }

  .team {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;

    /* Ivy journal SemiBold*/
    font-family: ivyjournal, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
  }

  footer {
    margin: 50px 0px;
  }

  .footer-menu {
    justify-content: center;
  }

  .footer-copyright {
    width: 100%;
  }

  .footer-second {
    width: 80%;
  }
}
