@media screen and (max-width: 1250px) {
  header {
    flex-direction: column;
    margin-bottom: 20px;
  }

  header nav {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding: 60px 10vh 0px 10vh;
    width: auto;
  }

  .footer-second {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  body {
    padding: 0px 0vh 0px 0vh;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-menu {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .footer-second {
    width: 60%;
  }

  .footer-message {
    font-size: 30px;
  }
}

/* ---------------------------- PHONE DEVICES ------------------------------- */
@media screen and (max-width: 480px) {
  header {
    padding: 40px 20px;
  }

  nav {
    width: 100%;
    justify-content: space-evenly;
  }

  nav div {
    margin: 0px;
  }

  header h1 {
    font-size: 40px;
    text-align: center;
  }

  .subtext {
    font-size: 15px;
    text-align: center;
  }

  .links {
    justify-content:space-between;
  }

  .links div {
    margin: 0px;
    font-size: 13px;
  }

  .projects {
    flex-direction: column;
  }

  .projects div {
    width: 100%;
  }

  .extra {
    flex-direction: column;
    padding: 0 40px;
  }

  .extra > div {
    width: 100%;
  }

  /* FOOTER  */
  footer {
    margin: 50px 0px;
  }

  .footer-message {
    font-size: 30px;
  }

  .footer-menu {
    justify-content: center;
  }

  .footer-copyright {
    width: 100%;
  }

  .footer-second {
    width: 80%;
  }
}
