@media screen and (max-width: 1000px) {
  body {
    padding: 60px 10vh 0px 10vh;
    width: auto;
  }
}

@media screen and (max-width: 850px) {
  body {
    padding: 0px 0vh 0px 0vh;
    width: auto;
  }

  .mini-summary {
    margin: 0px 50px;
  }

  .margin-box {
     margin: 0px 50px;
     margin-top: 30px;
  }

  .hide-small {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mini-summary {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 1.6em;
  }
}

@media screen and (max-width: 480px) {
  .hide-xsmall {
    display: none;
  }

  .margin-box  {
     margin: 0px 30px;
     margin-top: 30px;
  }

  .mini-summary {
    margin: 0px 30px;
  }

  .main-title {
    font-size: 60px;
  }
}
